<footer>
    <h1>Available links</h1>
    <ul>
        <li>
            <a href="{% url 'offers:FAQ' %}">Frequently asked questions</a>
        </li>
        <li>
            <a href="{% url 'offers:search' %}">Search</a>
        </li>
        <li>
            <a href="{% url 'offers:index' %}">Main page</a>
        </li>
        <li>
            <a href="{% url 'chat:index' %}">Chat rooms</a>
        </li>
        {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'offers:offer_create' %}">Create offer</a>
            </li>
        {% endif %}
    </ul>
</footer>