{% extends 'base.html' %}
<header>
    <h1>Offer Details</h1>
</header>
{% block main %}
    <h2>Offer</h2>
    <div class="offer-container">
        <aside class="col-12 col-md-3">
            <ul class="list-group list-group-flush">
                <h2>{{ offer.title }}</h2>
                <p>{{ offer.description }}</p>
                <p>Categories:
                    {% for category in offer.categories.all %}
                        {{ category.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p>Publication date: {{ offer.created_at|date:"M. d, Y" }}</p>
                <p>Contact information: {{ offer.user.email }}</p>
                {% if mean_rating is not None %}
                    <p>Mean rating: {{ mean_rating }}</p>
                {% else %}
                    <p>No reviews available</p>
                {% endif %}
            </ul>
        </aside>
    </div>
    {% if mean_rating is not None%}
        <h2>Reviews</h2>
        <div class="reviews-container">
            {% for review in reviews %}
                {% include 'includes/review_output.html' %}
                <hr>
            {% endfor %}
        </div>
    {% else %}

    {% endif %}
{% endblock %}
